{% extends "base.html" %}
{% load static %}

{% block content %}    
    {% if user.is_authenticated %}        
        <div id="app">
            <h1>${ message }</h1>
            <div class="holder">
                <div class='container'>
                    <!-- Hint: modify this input to handle addTodo() -->
                    <input 
                        v-model:value="todo"
                        v-on:keyup.enter="addTodo"
                        type="text" 
                        placeholder="Enter a task you have..." />
                    <button
                        v-on:click='addTodo'
                        id='btn-add'
                    >
                        <i class='fas fa-plus'></i>                    
                    </button>
                </div>
                <ul>
                    <li
                        v-for="todo, i in todos"
                        v-bind:key="i"
                        v-bind:class="{completed: todo.completed}"
                    >
                        <span> ${ todo.text } </span>
                        <div class='control-buttons'>
                            <i v-on:click='removeTodo(i)'
                                class='fas fa-times'
                            ></i>
                            <i v-on:click='toggleComplete(i)'
                                class='fas fa-check'
                            ></i>
                        </div>    
                    </li>
                </ul>
            </div>
            <p>${ count }</p>
        </div>
    {% else %}
        <div class='holder'>
            <ul>
                <li>You ain't logged in pal</li>
            </ul>
        </div>
    {% endif %}
{% endblock content %}

{% block extra_scripts %}
    {% if user.is_authenticated %}        
        <script src="{% static 'todos/js/todos.js' %}"></script>    
    {% endif %}
{% endblock extra_scripts %}
