body {
    height: 100vh;
    display: grid;
    font-family: Orbitron, monospace;
    background-color: #D4D4D4;
}

.calc-body {
    margin: auto;
    width: 15rem;
    height: 20rem;
    padding: 1em;
    padding-bottom: 2em;
    background-color: grey;
    border-radius: 5%;
    box-shadow: 5px 5px 15px -2px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
        "title   title   title   title"
        "display display display display"
        "display display display display"
        "ac      ce      mult    div"
        "seven   eight   nine    plus"
        "four    five    six     minus"
        "one     two     three   eq"
        "zero    zero    dec     eq"
    ;
    grid-gap: 0.7em;
}

#calc-heading {
    grid-area: title;
    font-size: 16pt;
    margin: 1em 0 0 0;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

#display-container {
    grid-area: display;
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5px;
    text-align: right;
}

#display {
    height: 28px;
    font-size: 24px;
}

#history {
    height: 18px;
    font-size: 14px;
    bottom: 100%;
    overflow-x: hidden;
}

#ac {
    grid-area: ac;
    background-color: darkred;
    color: white;
}

#ce {
    grid-area: ce;
    background-color: gray;
    color: white;
}

#mult {
    grid-area: mult;
}

#div {
    grid-area: div;
}

#add {
    grid-area: plus;
}

#sub {
    grid-area: minus;
}

#dec {
    grid-area: dec;
}

#eq {
    grid-area: eq;
}

#btn-0 {
    grid-area: zero;
}

#btn-1 {
    grid-area: one;
}

#btn-2 {
    grid-area: two;
}

#btn-3 {
    grid-area: three;
}

#btn-4 {
    grid-area: four;
}

#btn-5 {
    grid-area: five;
}

#btn-6 {
    grid-area: six;
}

#btn-7 {
    grid-area: seven;
}

#btn-8 {
    grid-area: eight;
}

#btn-9 {
    grid-area: nine;
}

button {
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: Orbitron;
    box-shadow: 0px 2px 6px 0px black;
    background-color: black;
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:focus {
    border: solid;
    border-width: 1px;
}

button:active, .active {
    box-shadow: 0px 0px 4px 0px black;;
    transform: translateY(2px);
}