{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Salvage Log Inquiry Form</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <!-- <link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
        <div class="center">
            <h1>Salvage Log Inquiry Form</h1>
        </div>
        <div class="content container" id='log-form'>
            <div class='row'>
                <div class="col-md-8">
                    <!-- {% block content %} -->
                    <form id='Personal-Info-Form'>
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputName">Name</label>
                                <input type="text" class="form-control" 
                                name='Name' id="inputName" placeholder="Name" v-model='vuserData.Name'>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputEmail">Email</label>
                                <input type="text" class="form-control" name='Email' id="inputEmail" placeholder="Email" v-model='vuserData.Email'>
                            </div>
                            <div class='form-group col-md-6'>
                                <label for='inputPhone'>Phone Number</label>
                                <input type='integer' class='form-control' name='Phone' id='inputPhone' placeholder='(xxx) xxx-xxxx' v-model='vuserData.Phone'>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputAddress">Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" v-model='vuserData.Address' name='Address'>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress2">Address 2</label>
                            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" v-model='vuserData.Address2'>
                        </div>
                        <div class="form-row col-md-6">
                            <div class="form-group col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" id="inputCity" v-model='vuserData.City'>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">State</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" id="inputZip" v-model='vuserData.Zip'>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="SalvageLogInquiryCheck" v-model='vuserData.SalvageLogInquiryCheck'>
                                <label class="form-check-label" for="gridCheck">
                                    Salvage your Log
                                </label>
                                <input class="form-check-input" type="checkbox" id="MillingKilnInquiryCheck" v-model='vuserData.MillingKilnInquiryCheck'>
                                <label class="form-check-label" for="gridCheck">
                                    Custom Milling / Kiln Drying
                                </label>
                                <input class="form-check-input" type="checkbox" id="LumberyardInquiryCheck" v-model='vuserData.LumberyardInquiryCheck'>
                                <label class="form-check-label" for="gridCheck">
                                    Lumberyard Inquiry
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary" @click.prevent="submitted">Submit</button>
                    </form>
                    <div class="card" v-if="isSubmitted">
                        <div class="card-body">
                            <h4 class="card-title">Personal Info</h4>
                            <p>Name: <b>${ vuserData.Name }</b></p>
                            <p>Email: <b>${ vuserData.Email }</b></p>
                            <p>Phone Number: <b>${ vuserData.Phone }</b></p>
                            <p>Address: <b>${ vuserData.Address }</b></p>
                            <p>Address2: <b>${ vuserData.Address2 }</b></p>
                            <p>City: <b>${ vuserData.City }</b></p>
                            <p>Zip: <b>${ vuserData.Zip }</b></p>
                            <p>Salvage Log Inquiry: <b>${ vuserData.SalvageLogInquiryCheck }</b></p>
                            <p>Custom Milling / Kiln Drying Inquiry: <b>${ vuserData.MillingKilnInquiryCheck }</b></p>
                            <p>Lumberyard Inquiry: <b>${ vuserData.LumberyardInquiryCheck }</b></p>
                        </div>
                    </div>
                    <!-- {% endblock %} -->
                </div>
            </div>
        </div>
        <!-- — bootrtap js files → -->
        <script src='https://code.jquery.com/jquery-3.2.1.slim.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js'></script>
         <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
         <!-- — vue.js files → -->
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="{% static './js/style-mealey.js' %}"></script>
    </body>
</html>