html, body {
  font-family: 'Roboto Slab', serif;
  height: 100%;

}

.form-container {
	width: 800px;
	height: 600px;
}

.img-cont {
	height: 120px;
	width: 120px;
	overflow: hidden;
}

.menu-One {
/*	height: 100%;
*/}

/*.protein {
	display: flex;
	flex-flow: column center;
}*/