{% extends "blog/base.html" %}
{% block content %}
    <div class="post">
        <div class="date">
            {% if post.published_date %}
                {{ post.published_date }}
            {% else %}
                Unpublished
            {% endif %}
        </div>
        {% if user == post.author %}
            <a class="btn btn-default" href="{% url 'blog:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>            
        {% endif %}

        <h2>{{ post.title }}</h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock content %}