{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Milwaukie Hardwoods | {% block title %} Home {% endblock %}</title>
        <link rel='stylesheet' href='https://necolas.github.io/normalize.css/8.0.1/normalize.css'>
        {% block extra_styles %}
        {% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
        <link rel="stylesheet" href="{% static './css/formstyles.css' %}" type='text/css'>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <meta charset="utf-8">

    </head>
    <body>
        <div class="text-center banner section bg-dark">
            <a href="{% url 'home' %}"><img src="{% static '.\assets\MHW_Logo.png' %} " class="rounded" alt="..." href="{% url 'home' %}"></a>
        </div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <!-- Navbar content -->
            <a class="navbar-brand" href="{% url 'home' %}">Milwaukie Hardwoods LLC</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto  mt-6 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salvageLogForm:personalInfoForm' %}">Contact Us Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'salvageLogForm:salvageLogForm' %}">Salvage Log/Tree Form</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'FAQ' %}">FAQ</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <!-- — bootstrap js files → -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
         <!-- — vue.js files → -->
         <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>