{% extends 'base.html' %}
{% load static %}

{% block title %} Frequently Asked Questions {% endblock %}

{% block extra_styles %}

{% endblock %}

{% block content %}
<br>
<div class="section text-center container">
    <h1>Frequently Asked Questions</h1><br>
</div>
<div class="section container">
    <h4>What is your mission?</h4>
    <p>Our mission is to save urban hardwoods from going up in smoke, compost or waste. We recycle green wood into usable lumber, slabs, gunstock blanks, and turningstock. When warranted we will pay for the raw wood.</p><br>
    <h4>Do you provide removal, thinning, or pruning services?</h4>
    <p>Milwaukie Hardwoods, LLC  is a portable wood milling, transporting and kiln drying service. If you are having a tree removed because of storm damage or disease,please consider us.</p><br>
    <h4>What Services do you provide?</h4>
    <h6>Log Transport</h6>
    <p>We are capable of assisting in the removal of downed hardwood logs in the greater Portland metro area. If the log is a desireable species & size, we will providethis service for free. Otherwise, we offer our log transport service at our standard heavy machine hourly labor rate. Often times, if the downed tree is intact, andaccessible via our boom crane truck, we will remove the tree from your site, saving you the time and expense of cutting, chipping, and transporting or disposing thewood and offcut products. Typically, we offer a keepsake craft piece, such as a turned bowl or vessel made from the downed tree trunk or limbs, or some milled lumberin exchange for the value of the tree.</p>
    <h6>Milling</h6>
    <p></p>
    <h4>I have a tree that fell down in my yard during a storm, can you help remove the tree free-of-charge?</h4>
    <p></p><br>
</div>


{% endblock %}

{% block extra_scripts %}
    <!-- <script src="{% static './js/webflow.js' %}" type="text/javascript"></script> -->
{% endblock %}
