{% extends 'base.html' %}
{% load static %}

{% block title %} Frequently Asked Questions {% endblock %}

{% block extra_styles %}

{% endblock %}

{% block content %}
<div class="section text-center container">
    <h1>Frequently Asked Questions</h1>
</div>
<div class="section container">
    <h4>What is your mission?</h4>
    <p>Our mission is to save urban hardwoods from going up in smoke, compost or waste. We recycle green wood into usable lumber, slabs, gunstock blanks, and turning stock. When warranted we will pay for the raw wood.</p><br>
    <h4>Do you provide removal, thinning, or pruning services?</h4>
    <p>Milwaukie Hardwoods, LLC  is a portable wood milling, transporting and kiln drying service. If you are having a tree removed because of storm damage or disease,please consider us.</p><br>
    <h4>What Services do you provide?</h4>
    <h5>Log Transport</h5>
    <p>We are capable of assisting in the removal of downed hardwood logs in the greater Portland metro area. If the log is a desireable species & size, we will provide this service for free. Otherwise, we offer our log transport service at our standard heavy machine hourly labor rate. Often times, if the downed tree is intact, and accessible via our boom crane truck, we will remove the tree from your site, saving you the time and expense of cutting, chipping, and transporting or disposing the wood and offcut products. Typically, we offer a keepsake craft piece, such as a turned bowl or vessel made from the downed tree trunk or limbs, or some milled lumber in exchange for the value of the tree. </p>
    <p>in 2017, we acquired our boom crane truck, which is capable of lifting logs with a weight of up to 9,000 lbs. We also utilize our 18' heavy-duty car hauler trailer, which we previously used with our parbuckling system.</p>
    <p>In the off chance your log is not of a desireable species, diameter, or length - we can offer our log transportation service at a chare of $100/hour. Time is determined from when we leave our Milwaukie shop to the time of return.</p>
    <h5>Milling</h5>
    <p>We offer custom milling for logs of all sizes and lengths. Our Lucas Mill swing-blade saw mill, with its dedicated slabber attachment installed, can cut logs with a diameter of up to 72". Our max log length we are capable of cutting on our sawmills is up to 20'.</p>
    <p>Typically, we charge milling projects per an hourly basis, with an added charge for any encountered metal within the log which requires a change of blade or chain. For extra hard species of logs, we may also include an added sharpening fee to offset the cost of the extra wear and tear on our sawmill blades & chains.</p>
    <h5>Kiln Drying</h5>
    <p>Initial drying is done outdoors in a well ventilated accessibly covered area. Stacked wood is “stickered” to provide proper air circulation. When the wood has reached approximately 25% moisture content it is then kiln dried. We have a large dehumidification kiln capable of handling materials up to 15′ in length. We charge $1.00/board foot when drying lumber or slabs.</p>
    <br>
    <h4>I have a tree that fell down in my yard during a storm, can you help remove the tree free-of-charge?</h4>
    <p>See the above answer to our log transport service.</p>
    <p>We can offer downed log removal free-of-charge on a case-by-case basis. At the end of the day, our mission is to save quality lumber and hardwood slabs from the fireplace, chipper, and compost - and we strive to accomplish this for every inquiry and salvage log brought to our attention.</p><br>
    <h4>What species do you have in stock?</h4>
    <p>While our inventory is constantly changing, we always have the following species in stock: Oregon Black Walnut, Big Leaf Maple, Oregon White Oak, Elm, Ash, and Alder.</p>
    <p>Other species we have had in stock are Beech, Birch, Eastern Maple (Hard Maple), Black Locust, Honey/Yellow Locust, Red Oak, Chestnut, Sassifras, and others.</p>
    <p>Call us or visit our lumberyard in Milwaukie, Oregon to see our up-to-date inventory of the listed species above and others.</p><br>
    <h4>Is all of your lumber and slabs in your lumberyard kiln dried?</h4>
    <p>All of our slabs, flitches, and boards in our Milwaukie lumberyard are kiln dried down below 10% or less.</p>
    <p>We also have an extended inventory on our property air-drying. We can offer this stock for sale, but we do not promote it as the demand for green lumber and slabs is not high. Our standard for air-drying is around one summer of air drying for every inch of thickness.</p><br>
    <h4>Is any of your inventory surfaced? Can you surface my slab I purchased elsewhere?</h4>
    <p>Our Lucas Mill has a surfacing attachment, which means we can surface any slab up to 60" in width. We charge an hourly rate of $100/hour, and we can typically surface 3-4 slabs per an hour, depending on their size.</p>
    <p>We do not surface all of our slabs, as we strive to keep our prices at the lowest point possible. Other lumberyards may surface one side of their lumber and slabs, but you pay for this cost in their inflated board foot pricing. We are happy to assist with surfacing any of our own slabs prior to your purchase, or boards and slabs provided by our customers.</p><br>
    <h4>Is your inventory at the size advertised?</h4>
    <p>On any of our unsurfaced inventory, the thickness is going to be anywhere from 1/8" to 1/2" above the advertised thickness. Any surfaced inventory will be sized at the advertised thickness.</p><br>
    <h4>Is all of your lumber and slabs in your lumberyard kiln dried?</h4>
    <p>All of our slabs, flitches, and boards in our Milwaukie lumberyard are kiln dried down below 10% or less.</p>
    <p>We also have an extended inventory on our property air-drying. We can offer this stock for sale, but we do not promote it as the demand for green lumber and slabs is not high. Our standard for air-drying is around one summer of air drying for every inch of thickness.</p><br>
    <h4>What is your return policy?</h4>
    <p>We take pride in the quality of lumber, slabs, and turning stock.</p>
    <p>We want our customers to take pride in their work, and have confidence in their materials. We can accept any returns on any purchases that have not been cut or altered for store credit. Any items that have been cut or altered, cannot be returned but we can discuss next steps to keep our customer and their projects moving forward, such as a discount on a future order.</p><br>
</div>


{% endblock %}

{% block footer %}
<div class="footer accent">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="footer-brand-text">Milwaukie Hardwoods, LLC</h1>
                <p>Portable milling, transporting, drying and sale of locally harvested urban hardwood.</p>
                <div>
                    <a href="#" class="social-icon-link w-inline-block"><img src="{% static '.\assets\social-03.svg' %}" width="20" alt=""></a>
                    <a href="#" class="social-icon-link w-inline-block"><img src="{% static '.\assets\social-18.svg' %}" width="20" alt=""></a>
                    <a href="#" class="social-icon-link w-inline-block"><img src="{% static '.\assets\social-09.svg' %}" width="20" alt=""></a>
                    <a href="#" class="social-icon-link w-inline-block"><img src="{% static '.\assets\social-06.svg' %}" width="20" alt=""></a>
                </div>
            </div>
            <div class="col-md-3">
                <h5>Hours of Operation</h5>
                <h6>Monday - Friday:<br>9 am - 6 pm</h6>
                <h6>Saturday:<br>10 am - 4 pm</h6>
                <h6>Sunday:<br>Closed</h6>
            </div>
            <div class="col-md-3">
                <h5>SITE MAP</h5>
                <a href="#" class="footer-link">About Us</a>
                <a href="{% url 'FAQ' %}" class="footer-link">Frequently Asked Questions</a>
                <a href="{% url 'salvageLogForm:ContactUsForm' %}" class="footer-link">Contact Us</a>
                <a href="{% url 'home' %}" class="footer-link">Home</a>
            </div>
            <div class="col-md-3">
                <h5>AFFILIATES</h5>
                <a href="https://woodmizer.com/us/Home/keyword/woodmizer/creative/279063860303gclidCj0KCQjwivbsBRDsARIsADyISJ-t9aloEmuq9l2wMYwmiTA2JRZ2P8LAQSBerO1wUQ7jrxBVAUIZsaMaArfwEALw_wcB" class="footer-link">Woodmizer</a>
                <a href="https://www.lucasmill.com/" class="footer-link">Lucas Mill</a>
                <a href="https://creativewoodworkingnw.com/" class="footer-link">Creative Wood Working</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
    <!-- <script src="{% static './js/webflow.js' %}" type="text/javascript"></script> -->
{% endblock %}
