#app {
    margin: auto;
    text-align: center;
}

#board {
    display: grid;
    margin: 2em;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
}

.cell {
    display: flex;
    outline: solid;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}